<ion-header [translucent]="true">
  <ion-toolbar>
      <!--Adiciona o botão de voltar-->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="primary">Comidas</ion-card>

  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Filé mignon" src="../../assets/img/filé.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Filé mignon ao molho madeira </ion-card-title>
      <ion-card-subtitle>acompanhado de arroz e batata gratinada</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$64,90
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>

  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Salmão" src="../../assets/img/salmao.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Salmão grelhado com legumes</ion-card-title>
      <ion-card-subtitle>servido com purê de mandioquinha</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$59,90
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>

  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Risoto" src="../../assets/img/camarao.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Risoto de camarão</ion-card-title>
      <ion-card-subtitle>cremoso, com toque de limão siciliano</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$58,00
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>

  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Lasanha" src="../../assets/img/lasanha.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Lasanha à bolonhesa</ion-card-title>
      <ion-card-subtitle>com molho caseiro e queijo gratinado</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$44,90
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>
  
  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Hambúrguer" src="../../assets/img/hamburguer.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Hambúrguer artesanal</ion-card-title>
      <ion-card-subtitle>com batata rústica e maionese da casa</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$39,90
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>
    
  <ion-card color="primary">Bebidas Alcoólicas</ion-card>

  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Caipirinha" src="../../assets/img/caipirinha.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Caipirinha de limão</ion-card-title>
      <ion-card-subtitle>clássica, com cachaça, limão, açúcar e gelo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$22,00
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>

  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Mojito" src="../../assets/img/mojito.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Mojito</ion-card-title>
      <ion-card-subtitle>rum, hortelã, limão, açúcar e água com gás</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$24,00
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>
  
  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Cerveja" src="../../assets/img/cerveja.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Cerveja artesanal</ion-card-title>
      <ion-card-subtitle>IPA, Pilsen ou Weiss (opções variadas)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$16,00
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>

  <ion-card color="primary">Não Alcoólicas</ion-card>

  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Refrigerante" src="../../assets/img/coca.jpeg" style="width: 100%; height: 200px; object-fit: cover;" />
    <ion-card-header>
      <ion-card-title>Refrigerante</ion-card-title>
      <ion-card-subtitle>cola, guaraná, citrus, etc.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$7,00
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>


  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="água" src="../../assets/img/agua.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Água com gás ou sem gás</ion-card-title>
      <ion-card-subtitle>sempre bem-vinda</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$5,00
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>

    
  <ion-card style="width: 300px; margin: 0 auto;">
    <img alt="Limonada" src="../../assets/img/limonada.jpeg" style="width: 100%; height: 200px; object-fit: cover;"/>
    <ion-card-header>
      <ion-card-title>Limonada suíça</ion-card-title>
      <ion-card-subtitle>cremosa e geladinha</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$11,00
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>

  <ion-button expand="block" color="success" href="../../index.html">Finalizar pedido</ion-button>

<ion-footer>  
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>


